@import '../../../scss/mixins.scss';

:root {
  --table-th-outline-color: var(--alt-color1);
  --table-th-font-color: var(--alt-color1-contrast);
  --table-tbody-font-color: var(--primary-color0-contrast);
  --table-border-radius: .5rem;
}

.master-table {
  outline: 1px solid rgba(var(--primary-color0-rgb), .3);
  // min-height: 40rem;
  border: 0;
  border-spacing: 0;
  box-shadow: var(--box-shadow-m);
  border-radius: var(--table-border-radius);
  // overflow: hidden;

  & tbody {
    background-color: var(--primary-color0);
    color: var(--table-tbody-font-color);
  }
}

.master-table.zebra-style {
  @include zebra-rows();
}

th {
  padding: 1.5rem 3rem;
  text-shadow: var(--box-shadow-m);
  background-color: var(--table-th-outline-color);
  color: var(--table-th-font-color);
  font-size: 1.5rem;
  outline: 1px solid grey;
}
