@import '../../../scss/mixins.scss';

:root {
  --table-th-outline-color: var(--alt-color1);
  --table-th-font-color: var(--alt-color1-contrast);
  --table-tbody-font-color: var(--primary-color0-contrast);
  --table-border-radius: .5rem;
}

.header-refresh-icon {
  @include hoverstate();
  width: 1.5rem;
}

.master-table-settings {
  display: flex;
  gap: 1rem;
}

.loading-wrapper {
  @include flex-it-all();
  height: 10rem;
}

.master-table-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem;
}

.master-table-wrapper {
  border: 1px solid var(--alt-color1);
  margin: 0 5rem;
  padding: 1rem;
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow-m);
  background-color: var(--primary-color1-contrast);
  min-width: 80rem;
}

.master-table-container {
  display: flex;
  flex-direction: column;

  & .no-data {
    margin-top: 1rem;
    text-align: center;
  }
}

.main-content {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.master-table {
  outline: 1px solid rgba(var(--primary-color0-rgb), .3);
  width: 100%;
  border: 0;
  border-spacing: 0;
  overflow: hidden;

  & tbody {
    background-color: var(--primary-color0);
    color: var(--table-tbody-font-color);
  }
}

.master-table.zebra-style {
  @include zebra-rows();
}

th {
  padding: 1.5rem 1.5rem 1.5rem 1%;
  text-align: left;
  text-shadow: var(--box-shadow-m);
  background-color: var(--table-th-outline-color);
  color: var(--table-th-font-color);
  font-size: 1.5rem;
}
