@import '../../../scss/mixins.scss';

:root {
  --table-th-outline-color: var(--alt-color1);
  --table-th-font-color: var(--alt-color1-contrast);
  --table-tbody-font-color: var(--primary-color0-contrast);
  --table-border-radius: .5rem;
}

.master-table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.master-table {
  outline: 1px solid rgba(var(--primary-color0-rgb), .3);
  width: 80%;
  border: 0;
  border-spacing: 0;
  overflow: hidden;
  box-shadow: var(--box-shadow-m);
  border-radius: var(--table-border-radius);

  & tbody {
    background-color: var(--primary-color0);
    color: var(--table-tbody-font-color);
  }
}

.master-table.zebra-style {
  @include zebra-rows();
}

th {
  padding: 1.5rem 1.5rem 1.5rem 1%;
  text-align: left;
  text-shadow: var(--box-shadow-m);
  background-color: var(--table-th-outline-color);
  color: var(--table-th-font-color);
  font-size: 1.5rem;
}
