.main-filters-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.main-filters {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.filters-form-container {
  display: flex;
}

.filters-submit {
  --button-bg-color: var(--alt-color3-contrast);
  --button-font-color: var(--alt-color3);

  &:hover {
    color: var(--primary-color0);
  }
}

.filters-reset {
  --button-bg-color: color-mix(in srgb, var(--alt-color4) 30%, transparent);
  --button-font-color: var(--alt-color4-contrast);
}

.filters-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filters-buttons-container {
  display: flex;
  gap: .5rem;
}
