.main-filters-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.main-filters {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.filters-form-container {
  display: flex;
}
