@import '../../../scss/mixins.scss';

// Useful for internal libs used by multiple projects, 
// allowing those projects to simply override the values of these css variables.
:root {
  --button-bg-color: var(--primary-color0);
  --button-border-color: var(--primary-color0);
  --button-font-color: var(--primary-color0-contrast);
  --button-font-size: 1.5rem;
  --button-padding: 1rem;
}

.generic-button {
  @include generic-button;
}

.generic-button.inverse {
  @include button-inverse;
}

.generic-button.small {
  --button-padding: .5rem;
  --button-font-size: .8rem;
}

.secondary {
  // Nothing yet but could have specific.
  // --button-font-color: #some-other-color;
  // --button-color: #some-other-color;
}

.tertiary {
  // Nothing yet but could have specific.
  // --button-font-color: #some-other-color;
  // --button-color: #some-other-color;
}