// Generic hover mixin, useful for pretty much any element
// without having to worry about accessibility.
@mixin hoverstate {
  &:hover,
  &:active,
  &:focus-visible {
    cursor: pointer;
    @content;
  }
}

@mixin flex-it-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin generic-button {
  color: var(--button-font-color);
  font-size: 1.5rem;
  padding: var(--button-padding);

  max-width: 52rem; // can't have them be too big
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-radius: 0.5rem;
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-border-color);

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; // custom box shadow
  transition: background-color var(--transition-default), color var(--transition-default);

  @include hoverstate {
    color: var(--button-bg-color);
    background-color: transparent;
  }
}

@mixin button-inverse {
  --button-bg-color: var(--primary-color0-contrast);
  --button-font-color: var(--primary-color0);

  @include hoverstate {
    color: var(--button-bg-color);
    background-color: var(--button-font-color);
  }
}