// Generic hover mixin, useful for pretty much any element
// without having to worry about accessibility.
@mixin hoverstate {
  &:hover,
  &:active,
  &:focus-visible {
    cursor: pointer;
    @content;
  }
}

@mixin flex-it-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin generic-button {
  @include flex-it-all;

  color: var(--button-font-color);
  font-size: var(--button-font-size);
  padding: var(--button-padding);

  width: fit-content; // override this when needed.
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-radius: 0.5rem;
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-border-color);

  box-shadow: var(--box-shadow-default);
  transition: background-color var(--transition-default), color var(--transition-default);

  @include hoverstate {
    color: var(--button-bg-color);
    background-color: transparent;
  }
}

@mixin button-inverse {
  --button-bg-color: var(--primary-color0-contrast);
  --button-font-color: var(--primary-color0);

  @include hoverstate {
    color: var(--button-bg-color);
    background-color: var(--button-font-color);
  }
}

@mixin zebra-rows {
  tr.parent-row:nth-child(even) {
    --master-table-row-parent-font-color: var(--primary-color1-contrast);
    --master-table-row-parent-bg-color: var(--primary-color1);
    --loader-border-bg-color: var(--primary-color1-contrast);
  };
}